.myimg{
    border: 50px;
    height: 800px;
    padding-left: 25px;
}
 img.myicon{
    position: absolute;
    top: 20px;
    left: 50px;
   
}

*{
    color: rgb(20, 29, 37);
   
}
div.absolute {
    position: absolute;
    top: 70px;
    left: 280px;
   
    height: 100px;
    
}
button{
    color: rgb(78, 85, 85);
    border-radius: 10px;
    border-color: aliceblue;
    font-size: 10px;
    padding: 5px;
    margin-left: 40px;
}
.heading{
    position: absolute;
    color: rgb(64, 212, 64);
    margin-right: 50px;
    top: 320px;
    left: 180px;
    font-weight: 600;
}
H4{
    position: absolute;
    color: rgb(240, 217, 115);
    top: 420px;
    font-size: 12px;
    left: 50px;
    font-weight: 400;
}
h4 p{
    width: 250px;
    font-size: 10px;
    font-weight: 400;
    color: rgb(170, 179, 93);
}
H5{
    position: absolute;
    top: 480PX;
    left: 50PX;
    color: rgb(185, 154, 68);
    font-weight: 400;
    width: 200px;
}
.flip{
    position: absolute;
    display: flex;
    top: 350px;
    padding: 100px;
 
}
.img1{
    z-index: 1;
    margin-left: 310px;
   
}
.img2 {
   
    z-index: 20;
margin-left: -45px;
margin-top: 20px;
}
.img3 {
    z-index: 20;

 margin-left: -220px;
margin-top: 50px;
padding: 0%;
}
a{
    position: absolute;
    top: 600px;
    color: aqua;
    margin-left: 40px;
}
.container{
    position: absolute;
    top: 620px;
    display: flex;
    width: 700px;
justify-content: space-between;
   margin: 20px;
    
    
}
.item{
    background-color: rgb(134, 151, 151);
    height: 150px;
    border: 2px solid rgb(83, 80, 80);
    margin-left: 20px;
    
}
.item h3{
    font-size: 10px;
    margin-left: 20px;
}
.item p{
    font-size: small;
}
i{
    margin-left: 50px;
    margin-top: 5px;
}
.bgpic{
    margin-left: 25px;
    margin-top: 0px;
}
.tour{
    position: absolute;
    top: 820px;
    left: 180px;
}
.sitem{
    display: flex;
    position: absolute;
        top: 900px;
        left: 120px;
      
}
.sitem1{
    height: 260px;
    border: 2px solid black;
   margin: 15px;
   width: 150PX;
   color: aliceblue;
}
.sitem1 p{
    color: rgb(25, 29, 34);
    padding-left: 15px;
    font-size: 12px;
}
.select{
    position: absolute;
    top: 1210px;
    margin-left: 325px;
}
video{
    padding-left: 25px;
    filter: blur(1px);
}
.myvideo{
    position: absolute;
    top: 1450px;
    margin-left: 80px;
    color: rgb(28, 196, 28);
    font-size: 30px;
}

   .cpic{
    border-radius: 50%;
   
   } 
   .vlog{
    width: 400px;
    height: 120px;
    display: flex;
    background-color: #fff;
    transform: skew(-20deg);
    margin-top: 20px;
    padding-top: 15px;
     justify-content: space-between;
   }
   .cvlog{
    position: absolute;
    top: 1510px;
    left: 160px;
    font-size: 10px;
    
   }

.vlog1{
    display: flex;
}
.story{
    color: green;
    position: absolute;
    top: 380px;
    font-size: 20px;
}
.myform{
    margin-left: 25px;
    padding: 50px;
    background-color: green;
}
.myinput{
    background-color: #fff;
    position: absolute;
    top: 2020px;
    height: 200px;
    
    padding-left: 30px;
    transform: skew(-15deg);
}
    .footer{
        height: 200px;
        background-color: black;
        width: 700px;
        margin-left: 25px;
    } 
    .footer img{
        margin: 40px 280px;

    }
    .mynav {
        position:absolute;
        top: 2420px;
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 600px;
        justify-content: space-between;
        
       margin-left: 60px;
       font-size: 10px;
    }
    .mynav p{
        color: #fff;
    }